<footer>
    <div class="container pie_de_pagina">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                    Divina Pastora Calle 27<br>
                    Codazzi - Cesar / Colombia<br>
                    Teléfonos: 930803 – 9302930<br>
                </h6>
            </div>

            <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                <div class="redes-footer">
                    <a href="https://www.facebook.com/luisarturo.rochamendez"><img src="/ParcialAngular/src/assets/facebook.png"></a>
                    <a href="https://twitter.com/luarocha97"><img src="/ParcialAngular/src/assets/twitter.png"></a>
                    <a href="https://www.youtube.com/channel/UC9mxfji-jK1wtG55qUyYRaQ?view_as=subscriber"><img
                            src="/ParcialAngular/src/assets/youtube.png"></a>
                    <a href="https://www.instagram.com/luarosh97"><img src="/ParcialAngular/src/assets/instagram.png"></a>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 text-right">
                <p class="text-muted small">Luis Rocha, Desarrolador Web @2020.<br> Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>