<body>
    

    <div class="row">
        <div class="col-6">
            <input [(ngModel)]="searchText" type="text" class="formcontrol" placeholder="Type to filter">
        </div>
    </div>
    <hr>
    <table class="table table-striped" *ngIf='clientes && clientes.length'>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">identificación</th>
                <th scope="col">Nombre </th>
                <th scope="col">CapitalInicial</th>
                <th scope="col">TasaInteres</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes; index as i ">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cliente.identificación}} </td>
                <td>{{ cliente.nombre}}</td>
                <td>{{cliente.capitalInicial }}</td>
                <td>{{cliente.tasaInteres }}</td>
                <td>{{ cliente.tiempo }}</td>
                <td>{{ cliente.valor}}</td>
            </tr>
        </tbody>
    </table>
    </body>
